
@{
    Layout = null;
    ViewBag.Title = "Remove";
}
<link href="~/Style/StyleSheet1.css" rel="stylesheet" />
<h2>Remove</h2>

Student has been removed from this course.
@Html.ActionLink("Return", "ViewCourse", "Teacher")