
@{
    Layout = null;
    ViewBag.Title = "EmailStudent";
}
<link href="~/Style/StyleSheet1.css" rel="stylesheet" />
<h2>EmailStudent</h2>
An Email will be sent to your email with a temporary username and password
