
@{
    Layout = null;
    ViewBag.Title = "RequestParticipation";
}
<link href="~/Style/StyleSheet1.css" rel="stylesheet" />
<h2>RequestParticipation</h2>

A request for your participation has been sent to the teacher of this course.